.App {
  background-color: rgb(0, 0, 0); /* Set the background color to blue */
  color: white; /* Set the text color to white */
  font-family: Arial, sans-serif; /* Set the font family */
}

.header {
  background-color: rgb(94, 146, 161); /* Set the background color of the header to black */
  text-align: center; /* Center align the text in the header */
  padding: 20px 0; /* Add some padding to the top and bottom of the header */
}

.content {
  padding: 20px; /* Add some padding to the content */
}
